<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Task File</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
 <body class="bg-black text-white">
    <div class="flex items-center justify-center bg-[#555] p-1 w-1/4 rounde-md mt-10 mx-auto rounded-md">
        <div class="bg-[#222] w-full rounded-md p-2 text-wrap">
           <h1 class="text-xl text-center font-semibold">File Name</h1>
           <h2 class="text-md font-medium">Task Titles</h2>
           <p class="text-sm">Tasks Details</p>
        </div>
    </div>
 
</body>
</html>